body {
    font-family: Serif;
    margin: 40px;
    background-color: #242424;
    color: #EBEBEB;
    line-height: 1.5;
}

h1, h2, h3 {
    color: #f9f9f9;
    font-weight: 500;
}

a {
    color: #008DFF;
    text-decoration: none;
    transition: color 0.15s ease, text-decoration 0.15s ease;
}

a:hover {
    color: #005bb5;
    text-decoration: underline;
}

p {
    margin-bottom: 1em;
}
