name: Build and Release Binaries
run-name: ${{ github.workflow }} for ${{ github.ref_name }}
on:
  push:
    tags:
      - '[0-9]*.[0-9]*.[0-9]*'

jobs:
  build:
    name: Build (${{ matrix.os }}, ${{ matrix.python-version }}${{ matrix.clang && format(', {0}', matrix.clang-version) || '' }})
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-15, macos-15-intel]
        include:
          - os: ubuntu-latest
            platform: linux
            arch: x86-64
            python-version: 3.13
            nuitka: true
            clang: true
            clang-version: 20.1.4

          - os: windows-latest
            platform: windows
            arch: x86-64
            python-version: 3.12   # https://github.com/Nuitka/Nuitka/issues/3234
            nuitka: true
            clang: false   # https://github.com/Nuitka/Nuitka/issues/3370
            clang-version: 20.1.4

          - os: macos-15
            platform: macos
            arch: ARM64
            python-version: 3.13
            nuitka: false
            clang: true
            clang-version: 20.1.4

          - os: macos-15-intel
            platform: macos
            arch: x86-64
            python-version: 3.13
            nuitka: false
            clang: true
            clang-version: 20.1.3
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      actions: write

    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        if: ${{ matrix.clang && matrix.os != 'macos-15-intel' }}   # issues with uv
        with:
          version: ${{ matrix.clang-version }}

      - name: Install Linux system dependencies
        if: matrix.platform == 'linux'
        run: sudo apt update --fix-missing && sudo apt install -y patchelf ccache lld

      - name: Install Windows system dependencies
        if: matrix.platform == 'windows'
        run: choco install ccache -y
        shell: powershell

      - name: Install macOS system dependencies
        if: matrix.platform == 'macos'
        run: |
          brew install ccache
          echo "SDKROOT=$(xcrun --sdk macosx --show-sdk-path)" >> $GITHUB_ENV

      - name: Run build script
        shell: bash
        run: |
            args=()
            [[ "${{ matrix.nuitka }}" == "true" ]] && args+=("--nuitka")
            [[ "${{ matrix.clang }}" == "true" ]] && args+=("--compiler=clang")
            python dev.py --build "${args[@]}"

      - name: Make binaries executable
        if: matrix.platform == 'macos' || matrix.platform == 'linux'
        run: chmod +x ./dist/sitegen || true

      - name: Archive files
        shell: bash
        run: |
          ls -lh
          version=${GITHUB_REF#refs/tags/}
          extra="README.md LICENSE"
          cd dist
          cp ../{README.md,LICENSE} .
          if [[ "${{ matrix.platform }}" == "linux" ]]; then
            tar -czf "sitegen-$version-${{ matrix.platform }}-${{ matrix.arch }}.tar.gz" sitegen $extra

          elif [[ "${{ matrix.platform }}" == "windows" ]]; then
            7z a "sitegen-$version-${{ matrix.platform }}-${{ matrix.arch }}.zip" sitegen.exe $extra

          elif [[ "${{ matrix.os }}" == "macos-15-intel" ]]; then
            zip "sitegen-$version-${{ matrix.platform }}-${{ matrix.arch }}.zip" sitegen $extra

          else
            zip "sitegen-$version-${{ matrix.platform }}-${{ matrix.arch }}.zip" sitegen $extra

          fi
          cd ..

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.os }}-${{ matrix.arch }}
          path: |
            ./dist/*.zip
            ./dist/*.tar.gz
          compression-level: 0

  draft-release:
    name: Draft GitHub Release
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
      contents: write

    steps:
      - uses: actions/checkout@v5

      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          path: ./dist
          merge-multiple: true

      - name: Extract version from tag
        id: extract_version
        run: echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Generate release attestation
        uses: actions/attest-build-provenance@v3.0.0
        with:
          subject-path: "dist/*"

      - name: Draft a release
        uses: softprops/action-gh-release@v2
        with:
          name: '${{ steps.extract_version.outputs.version }} [DRAFTED BY CI]'
          tag_name: '${{ steps.extract_version.outputs.version }}'
          target_commitish: ${{ github.sha }}
          draft: true
          prerelease: ${{ contains(steps.extract_version.outputs.version, 'dev') }}
          files: dist/*
          generate_release_notes: true
